.wrap_jumpscare{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


.jumpscare {
  position: relative;
  right: 100;
  top: -250px;
  background: url("https://s-media-cache-ak0.pinimg.com/736x/62/3b/3f/623b3f38ca1b28d165c5b93dd728138b.jpg") no-repeat;
  opacity: 0;
}
 
.jumpscare:hover {
  opacity: 1;
}


}