*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  cursor: none;
}

body {
  overflow-x: hidden;
  background-color: $background;
  color: $white;
  background-image: linear-gradient($white-opacity .1em, transparent .1em), linear-gradient(90deg, $white-opacity .1em, transparent .1em);
  background-size: clamp(7em, 25vw, 16em) clamp(7em, 25vw, 16em);
}

.italique{
  font-style: italic;
}

a{
  text-decoration: none;
  color: $background;
}

p{
  text-align: justify;

}