*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  cursor: none;
}

body {
  overflow-x: hidden;
  background-color: $background;
  color: $white;
  background-image: linear-gradient($white-opacity .1em, transparent .1em), linear-gradient(90deg, $white-opacity .1em, transparent .1em);
  background-size: clamp(7em, 25vw, 16em) clamp(7em, 25vw, 16em);
}

.italique{
  font-style: italic;
}

a{
  text-decoration: none;
  color: $background;
}

p{
  text-align: justify;

}

.btn_skip{
  opacity: 0;
  background: transparent;
  color: $white;
  font-family: $texte;
  font-size: 1.5em;
  letter-spacing: 5px;
  text-transform: lowercase;
  border: none;
  margin: 0;
  padding: 0;
  float: right;
  transition: color 0.2s ease;
  &:hover{
    color: $light-red;
  }
  i{
    font-size: 0.8em;
    margin-right: 15px;
  }}

.rouge{
  color: $light-red;
}

button{
  background: transparent;
  border: none;
  font-family: $texte;
  font-size: 18px;
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background: $dark-red;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  transition: all 0.3s;
  color: $white;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
  &:hover{
    background: $background;
  }
}