/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://css.gg/eye.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "October Crow";
  src: url("../fonts/OctoberCrow.woff2") format("woff2"), url("../fonts/OctoberCrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-Regular.woff2") format("woff2"), url("../fonts/Cinzel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 18px;
  font-family: "Cinzel";
}

h1 {
  font-family: "October Crow";
  font-size: 5em;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  cursor: none;
}

body {
  overflow-x: hidden;
  background-color: #1E1E1E;
  color: #efeee5;
  background-image: linear-gradient(rgba(239, 238, 229, 0.2941176471) 0.1em, transparent 0.1em), linear-gradient(90deg, rgba(239, 238, 229, 0.2941176471) 0.1em, transparent 0.1em);
  background-size: clamp(7em, 25vw, 16em) clamp(7em, 25vw, 16em);
}

.pointer {
  mix-blend-mode: difference;
  position: absolute;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 12px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
  pointer-events: none;
  color: #efeee5;
  z-index: 2;
}
.pointer::after, .pointer::before {
  content: "";
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box;
}
.pointer::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
  width: 24px;
  height: 24px;
}
.pointer::before {
  width: 8px;
  height: 8px;
  border: 2px solid;
  bottom: 4px;
  left: 8px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.body-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 10vw;
  z-index: -1;
  bottom: 1vw;
}

svg:hover {
  cursor: pointer;
}

/* GHOST ========================= */
.ghost-1 {
  fill: #f5f5f5;
}

.ghost-2 {
  fill: #263238;
}

.ghost-3 {
  fill: #f8bbcf;
}

.ghost-4 {
  fill: #00695C;
}

#_02-ghost {
  position: fixed;
  left: 0px;
}

#ghost {
  animation: floaty 1.75s infinite;
}

@keyframes floaty {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(25px);
  }
}
.wrap_jumpscare {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_jumpscare .glitch {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #1E1E1E;
}
@keyframes noise-anim {
  0% {
    clip: rect(4px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(30px, 9999px, 100px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 70px, 0);
  }
  15% {
    clip: rect(92px, 9999px, 64px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 44px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(62px, 9999px, 34px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 53px, 0);
  }
  40% {
    clip: rect(3px, 9999px, 12px, 0);
  }
  45% {
    clip: rect(49px, 9999px, 59px, 0);
  }
  50% {
    clip: rect(34px, 9999px, 63px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 65px, 0);
  }
  60% {
    clip: rect(75px, 9999px, 23px, 0);
  }
  65% {
    clip: rect(32px, 9999px, 58px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 59px, 0);
  }
  75% {
    clip: rect(74px, 9999px, 32px, 0);
  }
  80% {
    clip: rect(72px, 9999px, 30px, 0);
  }
  85% {
    clip: rect(23px, 9999px, 11px, 0);
  }
  90% {
    clip: rect(70px, 9999px, 85px, 0);
  }
  95% {
    clip: rect(62px, 9999px, 84px, 0);
  }
  100% {
    clip: rect(24px, 9999px, 76px, 0);
  }
}
.wrap_jumpscare .glitch:after {
  content: "Help me";
  position: absolute;
  left: 2px;
  top: 0;
  color: white;
  overflow: hidden;
  background: #1E1E1E;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 1s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(16px, 9999px, 43px, 0);
  }
  5% {
    clip: rect(41px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(50px, 9999px, 22px, 0);
  }
  15% {
    clip: rect(60px, 9999px, 93px, 0);
  }
  20% {
    clip: rect(7px, 9999px, 65px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 69px, 0);
  }
  30% {
    clip: rect(84px, 9999px, 63px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 82px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  45% {
    clip: rect(68px, 9999px, 30px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(38px, 9999px, 4px, 0);
  }
  60% {
    clip: rect(18px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(67px, 9999px, 52px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 79px, 0);
  }
  75% {
    clip: rect(29px, 9999px, 42px, 0);
  }
  80% {
    clip: rect(28px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 1px, 0);
  }
  95% {
    clip: rect(62px, 9999px, 39px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 52px, 0);
  }
}
.wrap_jumpscare .glitch:before {
  content: "Help me";
  position: absolute;
  left: -2px;
  top: 0;
  color: white;
  overflow: hidden;
  background: #1E1E1E;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.wrap_jumpscare .jumpscare {
  position: relative;
  right: 100;
  top: -250px;
  background: url("https://s-media-cache-ak0.pinimg.com/736x/62/3b/3f/623b3f38ca1b28d165c5b93dd728138b.jpg") no-repeat;
  opacity: 0;
}
.wrap_jumpscare .jumpscare:hover {
  opacity: 1;
}

div {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.rain_line:nth-child(1) {
  left: 0%;
}

.rain_line:nth-child(2) {
  left: 10%;
}

.rain_line:nth-child(3) {
  left: 20%;
}

.rain_line:nth-child(4) {
  left: 30%;
}

.rain_line:nth-child(5) {
  left: 40%;
}

.rain_line:nth-child(6) {
  left: 50%;
}

.rain_line:nth-child(7) {
  left: 60%;
}

.rain_line:nth-child(8) {
  left: 70%;
}

.rain_line:nth-child(9) {
  left: 80%;
}

.rain_line:nth-child(10) {
  left: 90%;
}

.window {
  width: 200px;
  height: 300px;
  outline: 20px solid black;
  overflow: hidden;
  background-color: black;
}

.wall {
  width: 100%;
  height: 100%;
}
.wall_glass {
  top: calc(50% - 300px / 2);
  left: calc(50% - 200px / 2);
  width: 200px;
  height: 300px;
  background: rgba(200, 255, 230, 0.1);
  transform: translateZ(20px/-2);
}
.wall_vertical {
  top: calc(50% - 300px / 2);
  left: calc(50% - 20px / 2);
  width: 20px;
  height: 300px;
  background: rgb(0, 0, 0);
}
.wall_vertical::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background: rgb(50, 50, 50);
  transform-origin: 0 0;
  transform: rotateY(90deg);
}
.wall_vertical::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
  background: rgb(50, 50, 50);
  transform-origin: 100% 0;
  transform: rotateY(-90deg);
}
.wall_horizontal {
  top: calc(50% - 20px / 2);
  left: calc(50% - 200px / 2);
  width: 200px;
  height: 20px;
  background: rgb(0, 0, 0);
}
.wall_horizontal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background: rgb(50, 50, 50);
  transform-origin: 0 0;
  transform: rotateX(-90deg);
}
.wall_horizontal::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: rgb(50, 50, 50);
  transform-origin: 0 100%;
  transform: rotateX(90deg);
}

.mask {
  width: 100%;
  height: 100%;
  transform: translateZ(1px);
}
.mask_right {
  left: calc(50% + 200px);
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}
.mask_left {
  left: calc(50% - 100% - 200px);
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}

.rain {
  width: 100%;
  height: 100%;
  transform: translateZ(-60px) rotateZ(0deg);
}
.rain_line {
  width: 1px;
  height: 100%;
}
.rain_line:nth-child(1) {
  left: 52%;
}
.rain_line:nth-child(1) .drop {
  width: 100%;
  height: 65px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1188ms -811ms linear infinite;
}
.rain_line:nth-child(2) {
  left: 48%;
}
.rain_line:nth-child(2) .drop {
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1024ms -1109ms linear infinite;
}
.rain_line:nth-child(3) {
  left: 80%;
}
.rain_line:nth-child(3) .drop {
  width: 100%;
  height: 48px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1143ms -1770ms linear infinite;
}
.rain_line:nth-child(4) {
  left: 83%;
}
.rain_line:nth-child(4) .drop {
  width: 100%;
  height: 48px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1020ms -112ms linear infinite;
}
.rain_line:nth-child(5) {
  left: 92%;
}
.rain_line:nth-child(5) .drop {
  width: 100%;
  height: 78px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1177ms -1293ms linear infinite;
}
.rain_line:nth-child(6) {
  left: 65%;
}
.rain_line:nth-child(6) .drop {
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1015ms -656ms linear infinite;
}
.rain_line:nth-child(7) {
  left: 30%;
}
.rain_line:nth-child(7) .drop {
  width: 100%;
  height: 62px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1083ms -1337ms linear infinite;
}
.rain_line:nth-child(8) {
  left: 48%;
}
.rain_line:nth-child(8) .drop {
  width: 100%;
  height: 71px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1160ms -1173ms linear infinite;
}
.rain_line:nth-child(9) {
  left: 96%;
}
.rain_line:nth-child(9) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1184ms -263ms linear infinite;
}
.rain_line:nth-child(10) {
  left: 29%;
}
.rain_line:nth-child(10) .drop {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1037ms -1945ms linear infinite;
}
.rain_line:nth-child(11) {
  left: 34%;
}
.rain_line:nth-child(11) .drop {
  width: 100%;
  height: 64px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1147ms -186ms linear infinite;
}
.rain_line:nth-child(12) {
  left: 32%;
}
.rain_line:nth-child(12) .drop {
  width: 100%;
  height: 76px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1157ms -1095ms linear infinite;
}
.rain_line:nth-child(13) {
  left: 84%;
}
.rain_line:nth-child(13) .drop {
  width: 100%;
  height: 53px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1151ms -159ms linear infinite;
}
.rain_line:nth-child(14) {
  left: 94%;
}
.rain_line:nth-child(14) .drop {
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1085ms -125ms linear infinite;
}
.rain_line:nth-child(15) {
  left: 62%;
}
.rain_line:nth-child(15) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1079ms -65ms linear infinite;
}
.rain_line:nth-child(16) {
  left: 54%;
}
.rain_line:nth-child(16) .drop {
  width: 100%;
  height: 64px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1140ms -877ms linear infinite;
}
.rain_line:nth-child(17) {
  left: 36%;
}
.rain_line:nth-child(17) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1142ms -1474ms linear infinite;
}
.rain_line:nth-child(18) {
  left: 31%;
}
.rain_line:nth-child(18) .drop {
  width: 100%;
  height: 58px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1075ms -1407ms linear infinite;
}
.rain_line:nth-child(19) {
  left: 71%;
}
.rain_line:nth-child(19) .drop {
  width: 100%;
  height: 77px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1094ms -1096ms linear infinite;
}
.rain_line:nth-child(20) {
  left: 76%;
}
.rain_line:nth-child(20) .drop {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1136ms -382ms linear infinite;
}
.rain_line:nth-child(21) {
  left: 2%;
}
.rain_line:nth-child(21) .drop {
  width: 100%;
  height: 48px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1057ms -181ms linear infinite;
}
.rain_line:nth-child(22) {
  left: 88%;
}
.rain_line:nth-child(22) .drop {
  width: 100%;
  height: 62px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1149ms -339ms linear infinite;
}
.rain_line:nth-child(23) {
  left: 84%;
}
.rain_line:nth-child(23) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1010ms -538ms linear infinite;
}
.rain_line:nth-child(24) {
  left: 91%;
}
.rain_line:nth-child(24) .drop {
  width: 100%;
  height: 55px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1124ms -1897ms linear infinite;
}
.rain_line:nth-child(25) {
  left: 32%;
}
.rain_line:nth-child(25) .drop {
  width: 100%;
  height: 33px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1059ms -831ms linear infinite;
}
.rain_line:nth-child(26) {
  left: 77%;
}
.rain_line:nth-child(26) .drop {
  width: 100%;
  height: 56px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1032ms -275ms linear infinite;
}
.rain_line:nth-child(27) {
  left: 93%;
}
.rain_line:nth-child(27) .drop {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1019ms -656ms linear infinite;
}
.rain_line:nth-child(28) {
  left: 14%;
}
.rain_line:nth-child(28) .drop {
  width: 100%;
  height: 38px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1093ms -756ms linear infinite;
}
.rain_line:nth-child(29) {
  left: 32%;
}
.rain_line:nth-child(29) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1058ms -1523ms linear infinite;
}
.rain_line:nth-child(30) {
  left: 15%;
}
.rain_line:nth-child(30) .drop {
  width: 100%;
  height: 63px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1190ms -1712ms linear infinite;
}
.rain_line:nth-child(31) {
  left: 90%;
}
.rain_line:nth-child(31) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1044ms -230ms linear infinite;
}
.rain_line:nth-child(32) {
  left: 76%;
}
.rain_line:nth-child(32) .drop {
  width: 100%;
  height: 53px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1025ms -124ms linear infinite;
}
.rain_line:nth-child(33) {
  left: 29%;
}
.rain_line:nth-child(33) .drop {
  width: 100%;
  height: 51px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1180ms -1718ms linear infinite;
}
.rain_line:nth-child(34) {
  left: 100%;
}
.rain_line:nth-child(34) .drop {
  width: 100%;
  height: 69px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1004ms -612ms linear infinite;
}
.rain_line:nth-child(35) {
  left: 75%;
}
.rain_line:nth-child(35) .drop {
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1030ms -1214ms linear infinite;
}
.rain_line:nth-child(36) {
  left: 62%;
}
.rain_line:nth-child(36) .drop {
  width: 100%;
  height: 39px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1098ms -1434ms linear infinite;
}
.rain_line:nth-child(37) {
  left: 10%;
}
.rain_line:nth-child(37) .drop {
  width: 100%;
  height: 77px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1177ms -1748ms linear infinite;
}
.rain_line:nth-child(38) {
  left: 26%;
}
.rain_line:nth-child(38) .drop {
  width: 100%;
  height: 34px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1173ms -362ms linear infinite;
}
.rain_line:nth-child(39) {
  left: 70%;
}
.rain_line:nth-child(39) .drop {
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1132ms -127ms linear infinite;
}
.rain_line:nth-child(40) {
  left: 96%;
}
.rain_line:nth-child(40) .drop {
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1193ms -1954ms linear infinite;
}
.rain_line:nth-child(41) {
  left: 51%;
}
.rain_line:nth-child(41) .drop {
  width: 100%;
  height: 68px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1014ms -171ms linear infinite;
}
.rain_line:nth-child(42) {
  left: 91%;
}
.rain_line:nth-child(42) .drop {
  width: 100%;
  height: 34px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1198ms -1483ms linear infinite;
}
.rain_line:nth-child(43) {
  left: 63%;
}
.rain_line:nth-child(43) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1100ms -387ms linear infinite;
}
.rain_line:nth-child(44) {
  left: 71%;
}
.rain_line:nth-child(44) .drop {
  width: 100%;
  height: 52px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1101ms -1669ms linear infinite;
}
.rain_line:nth-child(45) {
  left: 73%;
}
.rain_line:nth-child(45) .drop {
  width: 100%;
  height: 48px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1156ms -1598ms linear infinite;
}
.rain_line:nth-child(46) {
  left: 9%;
}
.rain_line:nth-child(46) .drop {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1179ms -762ms linear infinite;
}
.rain_line:nth-child(47) {
  left: 70%;
}
.rain_line:nth-child(47) .drop {
  width: 100%;
  height: 71px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1165ms -1852ms linear infinite;
}
.rain_line:nth-child(48) {
  left: 14%;
}
.rain_line:nth-child(48) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1012ms -1450ms linear infinite;
}
.rain_line:nth-child(49) {
  left: 44%;
}
.rain_line:nth-child(49) .drop {
  width: 100%;
  height: 54px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1098ms -319ms linear infinite;
}
.rain_line:nth-child(50) {
  left: 82%;
}
.rain_line:nth-child(50) .drop {
  width: 100%;
  height: 71px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1109ms -600ms linear infinite;
}
.rain_line:nth-child(51) {
  left: 69%;
}
.rain_line:nth-child(51) .drop {
  width: 100%;
  height: 73px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1191ms -1267ms linear infinite;
}
.rain_line:nth-child(52) {
  left: 30%;
}
.rain_line:nth-child(52) .drop {
  width: 100%;
  height: 46px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1186ms -524ms linear infinite;
}
.rain_line:nth-child(53) {
  left: 20%;
}
.rain_line:nth-child(53) .drop {
  width: 100%;
  height: 37px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1042ms -1001ms linear infinite;
}
.rain_line:nth-child(54) {
  left: 87%;
}
.rain_line:nth-child(54) .drop {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1108ms -1518ms linear infinite;
}
.rain_line:nth-child(55) {
  left: 59%;
}
.rain_line:nth-child(55) .drop {
  width: 100%;
  height: 73px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1099ms -1762ms linear infinite;
}
.rain_line:nth-child(56) {
  left: 11%;
}
.rain_line:nth-child(56) .drop {
  width: 100%;
  height: 41px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1032ms -20ms linear infinite;
}
.rain_line:nth-child(57) {
  left: 43%;
}
.rain_line:nth-child(57) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1112ms -559ms linear infinite;
}
.rain_line:nth-child(58) {
  left: 5%;
}
.rain_line:nth-child(58) .drop {
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1154ms -577ms linear infinite;
}
.rain_line:nth-child(59) {
  left: 45%;
}
.rain_line:nth-child(59) .drop {
  width: 100%;
  height: 59px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1069ms -350ms linear infinite;
}
.rain_line:nth-child(60) {
  left: 54%;
}
.rain_line:nth-child(60) .drop {
  width: 100%;
  height: 73px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1042ms -1478ms linear infinite;
}
.rain_line:nth-child(61) {
  left: 44%;
}
.rain_line:nth-child(61) .drop {
  width: 100%;
  height: 61px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1019ms -1063ms linear infinite;
}
.rain_line:nth-child(62) {
  left: 10%;
}
.rain_line:nth-child(62) .drop {
  width: 100%;
  height: 68px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1039ms -287ms linear infinite;
}
.rain_line:nth-child(63) {
  left: 19%;
}
.rain_line:nth-child(63) .drop {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1153ms -1538ms linear infinite;
}
.rain_line:nth-child(64) {
  left: 48%;
}
.rain_line:nth-child(64) .drop {
  width: 100%;
  height: 63px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1003ms -1794ms linear infinite;
}
.rain_line:nth-child(65) {
  left: 32%;
}
.rain_line:nth-child(65) .drop {
  width: 100%;
  height: 63px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1017ms -254ms linear infinite;
}
.rain_line:nth-child(66) {
  left: 42%;
}
.rain_line:nth-child(66) .drop {
  width: 100%;
  height: 59px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1123ms -1464ms linear infinite;
}
.rain_line:nth-child(67) {
  left: 30%;
}
.rain_line:nth-child(67) .drop {
  width: 100%;
  height: 76px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1063ms -91ms linear infinite;
}
.rain_line:nth-child(68) {
  left: 81%;
}
.rain_line:nth-child(68) .drop {
  width: 100%;
  height: 55px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1044ms -466ms linear infinite;
}
.rain_line:nth-child(69) {
  left: 31%;
}
.rain_line:nth-child(69) .drop {
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1004ms -380ms linear infinite;
}
.rain_line:nth-child(70) {
  left: 10%;
}
.rain_line:nth-child(70) .drop {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1085ms -1109ms linear infinite;
}
.rain_line:nth-child(71) {
  left: 83%;
}
.rain_line:nth-child(71) .drop {
  width: 100%;
  height: 34px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1146ms -192ms linear infinite;
}
.rain_line:nth-child(72) {
  left: 61%;
}
.rain_line:nth-child(72) .drop {
  width: 100%;
  height: 76px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1069ms -1441ms linear infinite;
}
.rain_line:nth-child(73) {
  left: 24%;
}
.rain_line:nth-child(73) .drop {
  width: 100%;
  height: 42px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1029ms -1175ms linear infinite;
}
.rain_line:nth-child(74) {
  left: 69%;
}
.rain_line:nth-child(74) .drop {
  width: 100%;
  height: 59px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1105ms -774ms linear infinite;
}
.rain_line:nth-child(75) {
  left: 55%;
}
.rain_line:nth-child(75) .drop {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1149ms -1415ms linear infinite;
}
.rain_line:nth-child(76) {
  left: 31%;
}
.rain_line:nth-child(76) .drop {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1022ms -1255ms linear infinite;
}
.rain_line:nth-child(77) {
  left: 39%;
}
.rain_line:nth-child(77) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1101ms -606ms linear infinite;
}
.rain_line:nth-child(78) {
  left: 1%;
}
.rain_line:nth-child(78) .drop {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1135ms -1716ms linear infinite;
}
.rain_line:nth-child(79) {
  left: 18%;
}
.rain_line:nth-child(79) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1171ms -97ms linear infinite;
}
.rain_line:nth-child(80) {
  left: 82%;
}
.rain_line:nth-child(80) .drop {
  width: 100%;
  height: 33px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1042ms -1002ms linear infinite;
}
.rain_line:nth-child(81) {
  left: 86%;
}
.rain_line:nth-child(81) .drop {
  width: 100%;
  height: 61px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1053ms -903ms linear infinite;
}
.rain_line:nth-child(82) {
  left: 33%;
}
.rain_line:nth-child(82) .drop {
  width: 100%;
  height: 46px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1011ms -1646ms linear infinite;
}
.rain_line:nth-child(83) {
  left: 46%;
}
.rain_line:nth-child(83) .drop {
  width: 100%;
  height: 76px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1162ms -688ms linear infinite;
}
.rain_line:nth-child(84) {
  left: 31%;
}
.rain_line:nth-child(84) .drop {
  width: 100%;
  height: 43px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1098ms -1903ms linear infinite;
}
.rain_line:nth-child(85) {
  left: 83%;
}
.rain_line:nth-child(85) .drop {
  width: 100%;
  height: 65px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1041ms -713ms linear infinite;
}
.rain_line:nth-child(86) {
  left: 44%;
}
.rain_line:nth-child(86) .drop {
  width: 100%;
  height: 78px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1069ms -1915ms linear infinite;
}
.rain_line:nth-child(87) {
  left: 91%;
}
.rain_line:nth-child(87) .drop {
  width: 100%;
  height: 49px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1023ms -1595ms linear infinite;
}
.rain_line:nth-child(88) {
  left: 76%;
}
.rain_line:nth-child(88) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1102ms -1938ms linear infinite;
}
.rain_line:nth-child(89) {
  left: 56%;
}
.rain_line:nth-child(89) .drop {
  width: 100%;
  height: 52px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1159ms -1299ms linear infinite;
}
.rain_line:nth-child(90) {
  left: 20%;
}
.rain_line:nth-child(90) .drop {
  width: 100%;
  height: 73px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1021ms -451ms linear infinite;
}
.rain_line:nth-child(91) {
  left: 56%;
}
.rain_line:nth-child(91) .drop {
  width: 100%;
  height: 38px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1122ms -1717ms linear infinite;
}
.rain_line:nth-child(92) {
  left: 72%;
}
.rain_line:nth-child(92) .drop {
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1129ms -1406ms linear infinite;
}
.rain_line:nth-child(93) {
  left: 12%;
}
.rain_line:nth-child(93) .drop {
  width: 100%;
  height: 39px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1048ms -1085ms linear infinite;
}
.rain_line:nth-child(94) {
  left: 62%;
}
.rain_line:nth-child(94) .drop {
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1042ms -548ms linear infinite;
}
.rain_line:nth-child(95) {
  left: 48%;
}
.rain_line:nth-child(95) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1059ms -1956ms linear infinite;
}
.rain_line:nth-child(96) {
  left: 91%;
}
.rain_line:nth-child(96) .drop {
  width: 100%;
  height: 56px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1077ms -1660ms linear infinite;
}
.rain_line:nth-child(97) {
  left: 2%;
}
.rain_line:nth-child(97) .drop {
  width: 100%;
  height: 58px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1063ms -342ms linear infinite;
}
.rain_line:nth-child(98) {
  left: 35%;
}
.rain_line:nth-child(98) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1057ms -1540ms linear infinite;
}
.rain_line:nth-child(99) {
  left: 93%;
}
.rain_line:nth-child(99) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1064ms -1714ms linear infinite;
}
.rain_line:nth-child(100) {
  left: 35%;
}
.rain_line:nth-child(100) .drop {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1046ms -988ms linear infinite;
}
.rain_line:nth-child(101) {
  left: 65%;
}
.rain_line:nth-child(101) .drop {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1173ms -211ms linear infinite;
}
.rain_line:nth-child(102) {
  left: 80%;
}
.rain_line:nth-child(102) .drop {
  width: 100%;
  height: 79px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1086ms -321ms linear infinite;
}
.rain_line:nth-child(103) {
  left: 30%;
}
.rain_line:nth-child(103) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1089ms -80ms linear infinite;
}
.rain_line:nth-child(104) {
  left: 99%;
}
.rain_line:nth-child(104) .drop {
  width: 100%;
  height: 68px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1125ms -898ms linear infinite;
}
.rain_line:nth-child(105) {
  left: 44%;
}
.rain_line:nth-child(105) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1167ms -969ms linear infinite;
}
.rain_line:nth-child(106) {
  left: 12%;
}
.rain_line:nth-child(106) .drop {
  width: 100%;
  height: 77px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1102ms -1971ms linear infinite;
}
.rain_line:nth-child(107) {
  left: 57%;
}
.rain_line:nth-child(107) .drop {
  width: 100%;
  height: 54px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1006ms -740ms linear infinite;
}
.rain_line:nth-child(108) {
  left: 90%;
}
.rain_line:nth-child(108) .drop {
  width: 100%;
  height: 63px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1089ms -1613ms linear infinite;
}
.rain_line:nth-child(109) {
  left: 97%;
}
.rain_line:nth-child(109) .drop {
  width: 100%;
  height: 55px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1123ms -1438ms linear infinite;
}
.rain_line:nth-child(110) {
  left: 56%;
}
.rain_line:nth-child(110) .drop {
  width: 100%;
  height: 67px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1141ms -1018ms linear infinite;
}
.rain_line:nth-child(111) {
  left: 11%;
}
.rain_line:nth-child(111) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1126ms -938ms linear infinite;
}
.rain_line:nth-child(112) {
  left: 16%;
}
.rain_line:nth-child(112) .drop {
  width: 100%;
  height: 65px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1186ms -876ms linear infinite;
}
.rain_line:nth-child(113) {
  left: 22%;
}
.rain_line:nth-child(113) .drop {
  width: 100%;
  height: 55px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1194ms -622ms linear infinite;
}
.rain_line:nth-child(114) {
  left: 79%;
}
.rain_line:nth-child(114) .drop {
  width: 100%;
  height: 67px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1039ms -568ms linear infinite;
}
.rain_line:nth-child(115) {
  left: 37%;
}
.rain_line:nth-child(115) .drop {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1036ms -600ms linear infinite;
}
.rain_line:nth-child(116) {
  left: 36%;
}
.rain_line:nth-child(116) .drop {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1100ms -675ms linear infinite;
}
.rain_line:nth-child(117) {
  left: 12%;
}
.rain_line:nth-child(117) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1094ms -342ms linear infinite;
}
.rain_line:nth-child(118) {
  left: 67%;
}
.rain_line:nth-child(118) .drop {
  width: 100%;
  height: 42px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1012ms -1752ms linear infinite;
}
.rain_line:nth-child(119) {
  left: 6%;
}
.rain_line:nth-child(119) .drop {
  width: 100%;
  height: 74px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1092ms -1678ms linear infinite;
}
.rain_line:nth-child(120) {
  left: 73%;
}
.rain_line:nth-child(120) .drop {
  width: 100%;
  height: 42px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1036ms -567ms linear infinite;
}
.rain_line:nth-child(121) {
  left: 66%;
}
.rain_line:nth-child(121) .drop {
  width: 100%;
  height: 78px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1118ms -625ms linear infinite;
}
.rain_line:nth-child(122) {
  left: 57%;
}
.rain_line:nth-child(122) .drop {
  width: 100%;
  height: 73px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1175ms -1308ms linear infinite;
}
.rain_line:nth-child(123) {
  left: 77%;
}
.rain_line:nth-child(123) .drop {
  width: 100%;
  height: 49px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1025ms -1383ms linear infinite;
}
.rain_line:nth-child(124) {
  left: 35%;
}
.rain_line:nth-child(124) .drop {
  width: 100%;
  height: 47px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1151ms -916ms linear infinite;
}
.rain_line:nth-child(125) {
  left: 38%;
}
.rain_line:nth-child(125) .drop {
  width: 100%;
  height: 41px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1116ms -1437ms linear infinite;
}
.rain_line:nth-child(126) {
  left: 65%;
}
.rain_line:nth-child(126) .drop {
  width: 100%;
  height: 59px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1068ms -218ms linear infinite;
}
.rain_line:nth-child(127) {
  left: 22%;
}
.rain_line:nth-child(127) .drop {
  width: 100%;
  height: 43px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1105ms -1439ms linear infinite;
}
.rain_line:nth-child(128) {
  left: 66%;
}
.rain_line:nth-child(128) .drop {
  width: 100%;
  height: 41px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1077ms -386ms linear infinite;
}
.rain_line:nth-child(129) {
  left: 41%;
}
.rain_line:nth-child(129) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1015ms -1564ms linear infinite;
}
.rain_line:nth-child(130) {
  left: 89%;
}
.rain_line:nth-child(130) .drop {
  width: 100%;
  height: 49px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1075ms -300ms linear infinite;
}
.rain_line:nth-child(131) {
  left: 85%;
}
.rain_line:nth-child(131) .drop {
  width: 100%;
  height: 67px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1011ms -224ms linear infinite;
}
.rain_line:nth-child(132) {
  left: 90%;
}
.rain_line:nth-child(132) .drop {
  width: 100%;
  height: 77px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1190ms -1559ms linear infinite;
}
.rain_line:nth-child(133) {
  left: 17%;
}
.rain_line:nth-child(133) .drop {
  width: 100%;
  height: 43px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1192ms -1179ms linear infinite;
}
.rain_line:nth-child(134) {
  left: 68%;
}
.rain_line:nth-child(134) .drop {
  width: 100%;
  height: 39px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1035ms -62ms linear infinite;
}
.rain_line:nth-child(135) {
  left: 40%;
}
.rain_line:nth-child(135) .drop {
  width: 100%;
  height: 41px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1076ms -794ms linear infinite;
}
.rain_line:nth-child(136) {
  left: 59%;
}
.rain_line:nth-child(136) .drop {
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1040ms -506ms linear infinite;
}
.rain_line:nth-child(137) {
  left: 56%;
}
.rain_line:nth-child(137) .drop {
  width: 100%;
  height: 62px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1023ms -190ms linear infinite;
}
.rain_line:nth-child(138) {
  left: 44%;
}
.rain_line:nth-child(138) .drop {
  width: 100%;
  height: 46px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1163ms -753ms linear infinite;
}
.rain_line:nth-child(139) {
  left: 50%;
}
.rain_line:nth-child(139) .drop {
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1068ms -1598ms linear infinite;
}
.rain_line:nth-child(140) {
  left: 68%;
}
.rain_line:nth-child(140) .drop {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1106ms -1551ms linear infinite;
}
.rain_line:nth-child(141) {
  left: 7%;
}
.rain_line:nth-child(141) .drop {
  width: 100%;
  height: 33px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1049ms -911ms linear infinite;
}
.rain_line:nth-child(142) {
  left: 97%;
}
.rain_line:nth-child(142) .drop {
  width: 100%;
  height: 73px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1098ms -1884ms linear infinite;
}
.rain_line:nth-child(143) {
  left: 15%;
}
.rain_line:nth-child(143) .drop {
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1146ms -1652ms linear infinite;
}
.rain_line:nth-child(144) {
  left: 12%;
}
.rain_line:nth-child(144) .drop {
  width: 100%;
  height: 71px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1132ms -996ms linear infinite;
}
.rain_line:nth-child(145) {
  left: 61%;
}
.rain_line:nth-child(145) .drop {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1117ms -363ms linear infinite;
}
.rain_line:nth-child(146) {
  left: 56%;
}
.rain_line:nth-child(146) .drop {
  width: 100%;
  height: 69px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1190ms -795ms linear infinite;
}
.rain_line:nth-child(147) {
  left: 17%;
}
.rain_line:nth-child(147) .drop {
  width: 100%;
  height: 32px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1039ms -948ms linear infinite;
}
.rain_line:nth-child(148) {
  left: 17%;
}
.rain_line:nth-child(148) .drop {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1143ms -917ms linear infinite;
}
.rain_line:nth-child(149) {
  left: 52%;
}
.rain_line:nth-child(149) .drop {
  width: 100%;
  height: 61px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1069ms -1169ms linear infinite;
}
.rain_line:nth-child(150) {
  left: 98%;
}
.rain_line:nth-child(150) .drop {
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 70%, rgba(200, 200, 200, 0) 100%);
  animation: drop 1110ms -1449ms linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(50deg);
  }
  100% {
    transform: rotateY(-50deg);
  }
}

/*# sourceMappingURL=style.css.map */
