svg {
	width: 10vw;
    z-index: -1;
    bottom: 1vw;
}
svg:hover {
	cursor: pointer;
}

/* GHOST ========================= */

.ghost-1 {
  fill: #f5f5f5;
}

.ghost-2 {
  fill: #263238;
}

.ghost-3 {
  fill: #f8bbcf;
}

.ghost-4 {
  fill: #00695C;
}

#_02-ghost {
  position: fixed;
  left: 0px;
}


#ghost {
	animation: floaty 1.75s infinite;
}

@keyframes floaty {
  0% {
    transform: translateY(25px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(25px);
  }
}
