.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    ul{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        font-family: "Cinzel"; 
        a {
            color: $white;
            transition: all 0.3s;
            text-decoration: none;
            &:hover {
                color: $light-red;
            } 
        }
        
        
    }
}